build/
dist/
**/*.min.js
node_modules/
coverage/
test/**/*-failed.png
.nyc_output/
.reify-cache/
.pnp*

tsconfig.tsbuildinfo


examples/**/yarn.lock
test/**/yarn.lock
yarn-error.log
package-lock.json

.vscode/
.project
.idea
.DS_Store
*.zip
*.rar
*.log
.exit_code

.yarn/
.yarnrc.yml
data/
